In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sns

In [2]:
df_=pd.read_excel("Part2 - Company (1).xlsx")

In [3]:
df_.to_csv("Company.csv")

In [4]:
df=pd.read_csv("Company.csv")
df.shape

(61, 6)

In [5]:
df.head()

   Unnamed: 0    A    B    C    D    Quality
0           0   47   27   45  108  Quality A
1           1  174  133  134  166  Quality B
2           2  159  163  135  131        NaN
3           3   61   23    3   44  Quality A
4           4   59   60    9   68  Quality A

In [6]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head()

     A    B    C    D    Quality
0   47   27   45  108  Quality A
1  174  133  134  166  Quality B
2  159  163  135  131        NaN
3   61   23    3   44  Quality A
4   59   60    9   68  Quality A

In [7]:
df.shape

(61, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   A        61 non-null     int64
 1   B        61 non-null     int64
 2   C        61 non-null     int64
 3   D        61 non-null     int64
 4   Quality  43 non-null     object
dtypes: int64(4), object(1)
memory usage: 2.5+ KB

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data=imputer.fit_transform(df)
df1=pd.DataFrame(data,columns = ['A','B','C','D','Quality'])
df1.shape

(61, 5)

In [10]:
df1['Quality']=pd.get_dummies(df1['Quality'], drop_first=True)

In [11]:
df1.Quality.value_counts()

0    44
1    17
Name: Quality, dtype: int64

In [12]:
df1.shape
from sklearn.model_selection import train_test_split
Y=df1['Quality']
X=df1.drop(['Quality'],axis=1)
X_train,x_test,Y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [13]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,Y_train)
y_pred=lr.predict(x_test)
print(lr.score(X_train,Y_train))
print(lr.score(x_test,y_test))

0.3671954026708576
0.25356219424334925

In [14]:
import imblearn

In [15]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2)
X_train_res, y_train_res = sm.fit_resample(X_train, Y_train.ravel())

In [16]:
lr2=LinearRegression()
lr2.fit(X_train_res,y_train_res)
y_pred=lr2.predict(x_test)
print(lr2.score(X_train_res,y_train_res))
print(lr2.score(x_test,y_test))

0.5218435436240303
0.12055182350876203

In [17]:
print(sum(y_train_res == 1))
print(sum(y_train_res == 0))

35
35

In [18]:
l=LinearRegression({0:0.20,1:0.40})
l.fit(X_train,Y_train)
y_pred=l.predict(x_test)
print(l.score(X_train,Y_train))
print(l.score(x_test,y_test))

0.3671954026708576
0.25356219424334925

C:\Users\ZohaA3\Anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass fit_intercept={0: 0.2, 1: 0.4} as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "